.heading{
  text-align:center;
  color:#386FA6;
  font-size:28px;
  font-family: "Times New Roman";
}
.container{
  display:flex;
  flex-direction: column;
  margin:20px;
}
h2{
  color:#d7972f
}
.container-2{
  height:28px;
  width:80px;

}


@media screen and (max-width:600px){
   .container{
    display:flex;
    flex-direction:column;
    justify-content:center ;
    align-items:center;
   }
   .heading{
    color:#a91e47;
   }
   h2{
    color:rgb(225, 94, 197)
   }
   
  
}